{
	"trailingComma": "es5",
	"tabWidth": 4,
	"detectIndentation": true,
	"insertSpaces": false,
	"semi": true,
	"singleQuote": false,
	"printWidth": 80,
	"bracketSpacing": true,
	"useTabs": true,
	"endOfLine": "lf"
}
